header img{
    max-width:12%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul{
    display: flex;
    list-style: none;

}
nav a {
    font-size: 1.3rem;
    margin-right: 20px;
    text-decoration: none;
    color:#f3f3f3
}