h1 {
    @include titleBig
}

p {
    font-family:$cambioFont;
    color: #f3f3f3;
    font-size: $sizeP;
}

.azzurro, .arancio, .verde {
    font-family:$cambioFont;
    margin-right: 5px;
    font-size: $sizeBut;
    padding: 1.5em;
    border-radius: 5px;
    color: #f3f3f3;
    border: 0;
}
.azzurro:hover,.arancio:hover,.verde:hover {
    cursor: pointer;
    animation: pulse 0.5s infinite alternate;
}
.azzurro {
    background-color: #0e6cff;
}

.arancio {
    background-color: #ff8700;
}

.verde {
    background-color: #4caf50;
}

.flexone {
    display: flex;
    padding-bottom: 10em;
    margin-bottom: 5em;
}

.flexa1 {
    flex: 4;
    animation: fade-in 1s ease-out;
}

.flexa2 {
    background-size: cover;
    margin-top: 5em;
    flex: 5;
    padding-bottom: 1em;
    animation: fade-in 1s ease-out;
}

.flexa2 img {
    max-width: 100%;
    height: 150%;
    border-radius: 5px;
    border: 1px solid white;
    box-shadow: -5px 10px 20px 1px;
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes pulse {
    to {
        transform: scale(1.1);
    }
}
