@import"mixin";
@import"header";
@import"hero";
section{
    padding-left: 5vh;
    padding-right: 5vh;
    padding-top: 1vh;
}
section{
    background: rgb(42,48,255);
    background: linear-gradient(180deg, rgba(42,48,255,1) 0%, rgba(131,0,136,1) 95%);;
}
aside img{
    max-width: 23%;
}